In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("cardata.csv")

In [14]:
dataset.head()

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,90,2014,5.59,27000,2,0,Manual,0,3.35
1,93,2013,9.54,43000,1,0,Manual,0,4.75
2,68,2017,9.85,6900,2,0,Manual,0,7.25
3,96,2011,4.15,5200,2,0,Manual,0,2.85
4,92,2014,6.87,42450,1,0,Manual,0,4.60

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Present_Price  301 non-null    float64
 3   Kms_Driven     301 non-null    int64
 4   Fuel_Type      301 non-null    object
 5   Seller_Type    301 non-null    object
 6   Transmission   301 non-null    object
 7   Owner          301 non-null    int64
 8   Selling_Price  301 non-null    float64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [5]:
dataset.describe()

              Year  Present_Price     Kms_Driven       Owner  Selling_Price
count   301.000000     301.000000     301.000000  301.000000     301.000000
mean   2013.627907       7.628472   36947.205980    0.043189       4.661296
std       2.891554       8.644115   38886.883882    0.247915       5.082812
min    2003.000000       0.320000     500.000000    0.000000       0.100000
25%    2012.000000       1.200000   15000.000000    0.000000       0.900000
50%    2014.000000       6.400000   32000.000000    0.000000       3.600000
75%    2016.000000       9.900000   48767.000000    0.000000       6.000000
max    2018.000000      92.600000  500000.000000    3.000000      35.000000

In [6]:
from sklearn.preprocessing import LabelEncoder

In [65]:
car_name_le = LabelEncoder()

In [8]:
dataset['Car_Name']=car_name_le.fit_transform(dataset["Car_Name"])

In [10]:
dataset['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [11]:
Fuel_Type_le = LabelEncoder()
dataset['Fuel_Type']=Fuel_Type_le.fit_transform(dataset['Fuel_Type'])

In [13]:
Seller_Type_le = LabelEncoder()
dataset['Seller_Type']=Seller_Type_le.fit_transform(dataset['Seller_Type'])

In [15]:
Transmission_le = LabelEncoder()
dataset['Transmission']=Transmission_le.fit_transform(dataset['Transmission'])

In [16]:
dataset.head()

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,90,2014,5.59,27000,2,0,1,0,3.35
1,93,2013,9.54,43000,1,0,1,0,4.75
2,68,2017,9.85,6900,2,0,1,0,7.25
3,96,2011,4.15,5200,2,0,1,0,2.85
4,92,2014,6.87,42450,1,0,1,0,4.60

In [19]:
input_data = dataset.iloc[:,:-1]
output_data = dataset['Selling_Price']

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
ss = StandardScaler()
ss.fit_transform(input_data)

array([[ 1.07432341,  0.128897  , -0.23621461, ..., -0.73728539,
         0.39148015, -0.17450057],
       [ 1.19182753, -0.21751369,  0.22150462, ..., -0.73728539,
         0.39148015, -0.17450057],
       [ 0.21262651,  1.16812909,  0.25742689, ..., -0.73728539,
         0.39148015, -0.17450057],
       ...,
       [ 0.25179455, -1.60315648,  0.39068691, ..., -0.73728539,
         0.39148015, -0.17450057],
       [ 0.25179455,  1.16812909,  0.56450434, ..., -0.73728539,
         0.39148015, -0.17450057],
       [ 0.13429043,  0.8217184 , -0.20029235, ..., -0.73728539,
         0.39148015, -0.17450057]])

In [24]:
input_data = pd.DataFrame(ss.fit_transform(input_data),columns = input_data.columns)

In [25]:
input_data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,1.074323,0.128897,-0.236215,-0.256224,0.500183,-0.737285,0.39148,-0.174501
1,1.191828,-0.217514,0.221505,0.155911,-1.852241,-0.737285,0.39148,-0.174501
2,0.212627,1.168129,0.257427,-0.773969,0.500183,-0.737285,0.39148,-0.174501
3,1.309332,-0.910335,-0.403079,-0.817758,0.500183,-0.737285,0.39148,-0.174501
4,1.152659,0.128897,-0.087890,0.141743,-1.852241,-0.737285,0.39148,-0.174501
...,...,...,...,...,...,...,...,...
296,0.251795,0.821718,0.460214,-0.076225,-1.852241,-0.737285,0.39148,-0.174501
297,0.134290,0.475308,-0.200292,0.593804,0.500183,-0.737285,0.39148,-0.174501
298,0.251795,-1.603156,0.390687,1.313340,0.500183,-0.737285,0.39148,-0.174501
299,0.251795,1.168129,0.564504,-0.719876,-1.852241,-0.737285,0.39148,-0.174501
300,0.134290,0.821718,-0.200292,-0.810958,0.500183,-0.737285,0.39148,-0.174501

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2, random_state=42)

In [28]:
from sklearn.linear_model import LinearRegression , Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor

In [49]:
from sklearn.metrics import mean_squared_error , mean_absolute_error

In [29]:
# lr = LinearRegression()
# lr.fit(X_train,y_train)
# lr.score(X_train,y_train)*100 , lr.score(X_test,y_test)*100

(88.40630578239453, 84.65539666857805)

In [32]:
# lr1 = Lasso(alpha=0.05)
# lr1.fit(X_train,y_train)
# lr1.score(X_train,y_train)*100 , lr1.score(X_test,y_test)*100

(88.35433202380113, 84.42023265451037)

In [35]:
# lr2 = Ridge(alpha=5)
# lr2.fit(X_train,y_train)
# lr2.score(X_train,y_train)*100 , lr2.score(X_test,y_test)*100

(88.37406606333195, 84.42238212828161)

In [36]:
# lr3 = ElasticNet(alpha=5)
# lr3.fit(X_train,y_train)
# lr3.score(X_train,y_train)*100 , lr3.score(X_test,y_test)*100

(21.03625319335991, 16.833618734802513)

In [47]:
dt = DecisionTreeRegressor(max_depth = 13)
dt.fit(X_train,y_train)
dt.score(X_train,y_train)*100 , dt.score(X_test,y_test)*100

(99.99987522774822, 95.44228135290959)

In [51]:
mean_squared_error(y_test, dt.predict(X_test)) , mean_absolute_error(y_test, dt.predict(X_test))

(1.049897131147541, 0.65827868852459)

In [46]:
rf = RandomForestRegressor(n_estimators = 40)
rf.fit(X_train,y_train)
rf.score(X_train,y_train)*100 , rf.score(X_test,y_test)*100

(98.53290349432693, 96.23999187595031)

In [52]:
mean_squared_error(y_test, rf.predict(X_test)) , mean_absolute_error(y_test, rf.predict(X_test))

(0.8661398493852461, 0.6007581967213116)

In [39]:
# sv = SVR()
# sv.fit(X_train,y_train)
# sv.score(X_train,y_train)*100 , sv.score(X_test,y_test)*100

(66.00840380338376, 78.48466914602926)

In [41]:
knn = KNeighborsRegressor(n_neighbors = 10)
knn.fit(X_train,y_train)
knn.score(X_train,y_train)*100 , knn.score(X_test,y_test)*100

(86.59124637342433, 90.59004346126326)

In [53]:
mean_squared_error(y_test, knn.predict(X_test)) , mean_absolute_error(y_test, knn.predict(X_test))

(2.1676384918032783, 0.9017704918032786)

In [57]:
rf.predict([[-1.275759,0.821718,-0.817924,-0.333500,0.500183,1.356327,-2.554408,-0.174501]])

C:\Users\HP\anaconda3\envs\abhijeet\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([0.42125])

In [55]:
X_test

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
177,-1.275759,0.821718,-0.817924,-0.333500,0.500183,1.356327,-2.554408,-0.174501
289,0.251795,0.821718,0.691970,-0.668875,0.500183,-0.737285,0.391480,-0.174501
228,1.230996,-0.563924,0.205282,0.593804,-1.852241,-0.737285,0.391480,-0.174501
198,-2.059120,-0.910335,-0.817924,-0.050157,0.500183,1.356327,0.391480,3.865859
60,0.330131,-0.217514,1.272521,0.078661,0.500183,-0.737285,0.391480,-0.174501
...,...,...,...,...,...,...,...,...
234,0.760979,0.475308,-0.223468,-0.835995,0.500183,-0.737285,0.391480,-0.174501
296,0.251795,0.821718,0.460214,-0.076225,-1.852241,-0.737285,0.391480,-0.174501
281,0.251795,-2.642389,-0.003299,0.347965,0.500183,-0.737285,0.391480,-0.174501
285,0.956819,0.821718,0.100991,-0.563806,0.500183,-0.737285,-2.554408,-0.174501
182,-1.158255,-0.217514,-0.816765,-0.178949,0.500183,1.356327,0.391480,-0.174501

In [58]:
y_test

177     0.35
289    10.11
228     4.95
198     0.15
60      6.95
       ...
234     5.50
296     9.50
281     2.10
285     7.40
182     0.30
Name: Selling_Price, Length: 61, dtype: float64